anyio
asgiref
certifi
cffi
charset-normalizer
click
contextlib2
contextvars
cryptography
dataclasses
fastapi
h11
httptools
idna
immutables
importlib-metadata
pycparser
pydantic
python-dotenv
PyYAML
requests
sniffio
starlette
typing_extensions
urllib3
uvicorn
uvloop
watchgod
websockets
zipp
